/* You can add global styles to this file, and also import other style files */

@import "all";

@include font-face('Montserrat', './assets/font/Montserrat-Light', 300, normal, ttf);
@include font-face('Montserrat', './assets/font/Montserrat-Regular', 400, normal, ttf);
@include font-face('Montserrat', './assets/font/Montserrat-Medium', 500, normal, ttf);
@include font-face('Montserrat', './assets/font/Montserrat-SemiBold', 600, normal, ttf);
@include font-face('Montserrat', './assets/font/Montserrat-Bold', 700, normal, ttf);

* {
  box-sizing: inherit;
}

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: 500;
  color: $color;
}

//disable hover
.disable-hover {
  pointer-events: none;
}

a {
  color: $white;
  text-decoration: none;
}
